.footer-2 {
  $base-spacing: 1.5em !default;
  $action-color: #F4FEE1 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 5%), 10%);
  $footer-color: #727272;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  $base-font-color: black;

  background: $footer-background;
  padding: $base-spacing;
  width: 100%;
  display: inline-block;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  }

  ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;

    @include media($large-screen) {
      float: left;
      line-height: 1.8em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $base-font-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: 0.8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin: 1em 0 0 0;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        font-size: 1em;
        float: left;
        line-height: 0;
        margin: 0;
        padding-right: 0.7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        height: 1.6em;
        opacity: 0.7;
        padding: 1px;
        color: $base-font-color;

        &:focus,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
