@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $action-color: white !default;
  $base-background-color: #727272 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $grid-items-background: $base-background-color;
  $grid-item-border-size: 1px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: white;
  $grid-item-height: 20em;
  margin-top: 5px;
  margin-bottom: 5px;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: transparentize(#FF5B11, 0.2);
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: ($grid-item-border-size / 2) solid $grid-items-background;
    border-right: ($grid-item-border-size / 2) solid $grid-items-background;
    border-top: 0;
    cursor: pointer;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
  }

  .grid-item img {
      display: block;
      height: 3em;
      margin-bottom: 1em;
      border-radius: 5px;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: 0.4em;
      border-radius: 3px;
    }

  .grid-item p {
      line-height: 1.5em;
      margin: auto;
      color: transparentize($grid-item-color, 0.1);
      margin-bottom: 1.5em;
      @include media($medium-screen) {
        max-width: 70%;
      }
    }
}
