.hero {
  $base-border-radius: 3px !default;
  $action-color: #FF5B11 !default;
  $large-screen: em(860) !default;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '../images/background.png';

    @include background(url($hero-image));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-bottom: 3em;

  .hero-logo {
    margin-top: -5em;
    margin-bottom: -4em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 3.5em;
    text-align: center;

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.6em;
        margin-bottom: 0.5em;
        margin-top: 3em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        font-weight: 300;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
      margin-top: 2em;
      &:focus {
        outline: 0;
      }
    }
  }
}
